html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  font-weight: normal;
}

body {
  display: grid;
  place-items: center;
  background-color: rgb(0, 155, 229);
}

h1 {
  font-size: 8em;
  color: transparent;
  text-shadow: 0 0 0 #f7e700;
}
